font-family: 'Kanit',
sans-serif;
font-family: 'Roboto',
sans-serif;


:root {
    font-size: 12px;
    /* Tamaño base */
}

h1 {
    font-size: 4rem;
    /* equivale a: 48px */
}

h2 {
    font-size: 2rem;
    /* equivale a: 24px */
}

nav {
    font-size: 1.5rem;
    /* equivale a: 18px */
}

p {
    font-size: 1rem;
    /* equivale a: 12px */
}

p,
H1,
H2,
H3,
h4,
h5,
article,
footer{
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
}

@keyframes menucolor {
    0% {
        background-color: lightblue;
    }

    50% {
        background-color: lightgray;
    }

    100% {
        background-color: lightblue;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    ul {
      display: none !important; /* Oculta el menú principal en dispositivos móviles */
    }

    header.active{
        height: 100%;
    }
  
    ul.active {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      
    }

    ul.active li {
        margin-bottom: 10px;
    }
  
    .mobile-menu-icon {
      display: flex !important;
      cursor: pointer;
    }

    img.active {
        display: none !important;
      }
  }
  
.mobile-menu-icon {
    display: none;
}
  

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

header li {
    margin-left: 10px;
    margin-right: 10px;
}

header li a {
    text-decoration: none;
    color: rgba(122, 122, 122, 255);
    font-size: 20px;
    padding: 5px;
}

header {
    height: 70px;
    border-bottom: 2px solid black;

    background-color: lightblue;
    animation-name: menucolor;
    animation-duration: 40s;
    animation-iteration-count: infinite;

    font-family: 'Kanit';
    display: flex;
    justify-content: center;
    /* Centrar verticalmente los elementos */
}

header li:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.1s;
}

header li a:active {
    color: rgba(78, 130, 197, 255);
}

header li:active {
    transition-duration: 0.1s;
    transform: scale(1);
}


.historia {
    margin-right: 10%;
    margin-left: 10%;
}

.mapa {
    margin-right: 10%;
    margin-left: 10%;
}

article {
    margin-right: 10%;
    margin-left: 10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


form {
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightblue;
    font-family: 'Roboto';
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 50px;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.enviar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.inputRadio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputRadio input {
    width: auto;
}

.inputRadio label {
    margin-right: 20%; /* Espacio entre los botones de radio y las etiquetas */
}

.inputRadio label:last-child{
    margin-right: 0;
}


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

textarea{
    
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

    resize: vertical;
}

footer {
    color: rgba(122, 122, 122, 255);
    padding: 15px;
    background-color: lightblue;
    border-top: black 2px solid;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.swiffy-slider {
    margin-top: 20px;
}

.error {
    color: red;
    font-size: medium;
}

ul.slider-container {
    text-align: center  ;
}

.carrousel {
    width: 30%;
    border-radius: 100%;
}

.textoIndex {
    text-align: center;

    margin-bottom: 20px;
}

.beneficios-container {
    margin: 2%;

    display: flex;
    justify-content: center; 
    padding-right: 20%;
}

.beneficios-lista {
    list-style: none; 
    margin: 0; 
    padding: 0;

    margin-left: 30px;
}

.beneficios-lista li {
    margin-bottom: 10%; 
}

.servicio-container {
    margin: 2%;

    display: flex;
    justify-content: center; 
    padding-left: 10%;
}

.servicio-lista {
    text-align: right;
    list-style: none; 
    margin: 0; 
    padding: 0;

    margin-right: 30px;
}


.verCatalogo {
    padding: 10px;


    border: 1px rgba(78, 130, 197, 255) solid;
    box-shadow: 0px 0px 10px 0px  rgba(78, 130, 197, 255);
    border-radius: 10px;

    color: rgba(78, 130, 197, 255);
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;

}


/*                    --------    Productos    --------    */
.cepillos {
    height: 70%;
    width: 70%;  
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    place-items: center;   
}

.cepillos img {
    filter: grayscale(100%);
    transition: transform 2s, filter .5s ease-out;
}

.cepillos:hover img {
    filter: grayscale(0%);
    transform: scale(1.7);
  }


  /* ---- TARJETAS ----- */

  .container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente en la página */
    align-items: center; /* Centrar verticalmente en la página */
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  .myCard {
    width: 175px;
    height: 210px;
    margin-right: 20px; /* Agregar margen entre las tarjetas */
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.1s;
    transform-style: preserve-3d;
    cursor: pointer;
    
    border-radius: 1rem;

    
  }
  
  .myCard:last-child {
    margin-right: 0; /* Eliminar el margen derecho de la última tarjeta */
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar vertical y horizontalmente */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: black;
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

/* ---- Historia ----- */

.historia{
    width: 80%;
    padding: 5%;
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px 100px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}

.visionmision{
    width: 80%;
    padding: 5%;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 100px 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}

.politicaCalidad{
    width: 80%;
    padding: 5%;
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px 100px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}

.mapa{
    width: 80%;
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 100px 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}
