font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;



:root {font-size: 12px; /* Tamaño base */}
    h1 {font-size: 4rem; /* equivale a: 48px */}
    h2 {font-size: 2rem; /* equivale a: 24px */}
    nav {font-size: 1.5rem; /* equivale a: 18px */}
    p {font-size: 1rem; /* equivale a: 12px */}
    
p, H1, H2, H3 {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
}

@keyframes menucolor {
    0% { background-color: lightblue; }
    50% { background-color: lightgray; }
    100% { background-color: lightblue; }
}

  .menu ul {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgba(122,122,122,255);
    font-size: 20px;
    padding: 5px; 
}

.menu {
    height: 70px; 
    border-bottom: 2px solid black;

    background-color: lightblue;
    animation-name: menucolor;
    animation-duration: 40s;
    animation-iteration-count: infinite;

    font-family: 'Kanit';
    display: flex;
    justify-content: center; /* Centrar verticalmente los elementos */
}

.menu li:hover {
    transform: scale(1.1,1.1);
    transition-duration:0.1s;
}

.menu li a:active {
    color: rgba(78,130,197,255);
}

.menu li:active {
transition-duration:0.1s;
transform: scale(1);
}


.historia {
    margin-right: 10%;
    margin-left: 10%; 
}

.mapa {
    margin-right: 10%;
    margin-left: 10%; 
}

article {
    margin-right: 10%;
    margin-left: 10%; 
}


.formulario {
    margin-top: 50px;
    background-color: rgb(172, 229, 172); 
    font-family: 'Roboto';
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    justify-content: space-around;
}

.formulario textarea {
    width: 50%;
    height: 50%;
}
footer{
    color: white;
    padding: 15px;
    background-color: lightblue;
}

.titulo {
    text-align: center;
    font-weight: 1000;
}