<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IMETRO Cepillos Industriales</title>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:ital,wght@0,100;1,300&display=swap"
            rel="stylesheet">
        <link rel="icon" type="image/png" href="imagenes/imetro-400x400.png">
        <!--  Slider presentacion -->
        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
            defer></script>
        <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
            crossorigin="anonymous">
    
    </head>
    
    <body>
    
        <header>
            <img src="{{ url_for('static', filename='imagenes/menuHamburguesa.png')}}" alt="" height="70px" class="mobile-menu-icon" id="mobile-menu-icon">
            <ul>
                <li><a href="/" class="logo-header"><img src="{{ url_for('static', filename='imagenes/imetro-400x400.png')}}" alt=""
                            height="60px"></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="historia">Historia</a></li>
                <li><a href="productos">Productos</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="comprar">Comprar</a></li>
                <li><a href="pedidos">Mis Pedidos</a></li>
            </ul>
        </header>


<article class="historia">   
        <h2>
            HISTORIA
        </h2>
        <p> El desarrollo comenzo con la necesidad de suplir el faltante de un equipo importado, y con el éxito del desarrollo implementado fue inspirador para llevar adelante la incorporación de otros implementos que tambien estaban faltos en el mercado. Asi mismo, se desarrollaron diversas soluciones para diferentes marcas y modelos, aumentando progresivamente la oferta de productos Argentinos. Actualmente tenemos nuestras oficinas principales en el centro de la Ciudad Autónoma de Buenos Aires, y además distribuidores en la gran mayoría de las provincias para abastecer la demanda en un corto plazo.</p> 
        </p>
    </article>

<article class="visionmision">
    <h2>
        VISION
    </h2>
    <div class="vision">
        <p>
            Imetro es y se seguirá manteniendo y consolidando como la empresa líder en el país en el suministro de cepillos industriales. Estando entre las mejores empresas a nivel mundial.
        </p>
    </div>

    
    <h2>
        MISION
    </h2>
    <div class="mision">
    <ul>    
        <li> Realizar constantemente Diseños Innovadores </li>
        <li> Producir con la misma calidad requerida por los Clientes</li>
        <li> Brindar asistencia y servicio técnico integral </li>
        <li> Proveer en tiempo y forma los pedidos acordados con los clientes </li>
    </ul>    
    </div>
</article>    


<article class="politicaCalidad">
    <h2>
        POLITICA DE CALIDAD
    </h2>
    <article class="politica">
        <p>Orientados a lograr altos estándares de satisfacción de nuestors Clientes, realizando constantemente diseños innovadores, cumpliendo con los requisitos acordados, comprometiéndonos a mejorar continuamente la eficacia del Sistema de Gestión de la Calidad. </p>
        <p>Día a día apuntamos a la satisfacción del Personal manteniendo y mejorando el clima interno de trabajo teniendo en cuenta que el personal es la esencia de la organización, como así también la interrelación con los proveedores obteniendo un beneficio mutuo. Para que el resultado alcanzado sea la suma de la calidad de nuestros proveedores y la especialización de nuestros operarios.</p>
        <p>La eficacia de nuestras decisiones se basa en el análisis de la información relevada de todos nuestros procesos. Esta es nuestra manera de demostrar el compromiso que asumimos hacia la Calidad en todos los niveles de la organización, como medio para conducirla hacia la mejora continua, y coherentes con nuestras estrategias corporativas.</p>
    </article>

</article>

<article class="mapa">
    <h2>
        UBICACION
    </h2>
    <p style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1093.6841195289908!2d-58.41517644985322!3d-34.57851308515807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1szoologico!5e0!3m2!1ses-419!2sar!4v1694312913396!5m2!1ses-419!2sar" width=70% height="450"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>
</article>   

    <footer>
        Copyright 2023
    </footer>
    
</body>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>


</html>
