<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMETRO Cepillos Industriales</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:ital,wght@0,100;1,300&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="imagenes/imetro-400x400.png">
    <!--  Slider presentacion -->
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">

</head>

<body>

    <header>
        <img src="{{ url_for('static', filename='imagenes/menuHamburguesa.png')}}" alt="" height="70px" class="mobile-menu-icon" id="mobile-menu-icon">
        <ul>
            <li><a href="/" class="logo-header"><img src="{{ url_for('static', filename='imagenes/imetro-400x400.png')}}" alt=""
                        height="60px"></a></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="historia">Historia</a></li>
            <li><a href="productos">Productos</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="comprar">Comprar</a></li>
            <li><a href="pedidos">Mis Pedidos</a></li>
        </ul>
    </header>

    <div class="swiffy-slider">
        <ul class="slider-container">
            <li>
                <div class="slider-item">
                    <img src="{{ url_for('static', filename='imagenes/pita.png')}}" class="carrousel">
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <img src="{{ url_for('static', filename='imagenes/pvc.png')}}" class="carrousel">
                </div>
            </li>
            <li>
                <div class="slider-item">
                    <img src="{{ url_for('static', filename='imagenes/tynex.png')}}" class="carrousel">
                </div>
            </li>
        </ul>

        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>

    <nav class="textoIndex">
        <H2> Cepillos industriales para máquina de limpieza de uso profesional. </H2>
        <h4 style="font-weight: bold;">Disponibles en diversos materiales para diferentes aplicaciones: <br>
            Cerda - Pita - Nylon - PVC - Acero - Disco de arrastre.</h4>
        <a href="/productos" class="verCatalogo">Ver catálogo 🔎</a>
    </nav>

    <div class="beneficios-container">

        <img src="{{ url_for('static', filename='imagenes/beneficios.png')}}" alt="" height="195px">

        <ul class="beneficios-lista">
            <li>
                <h3><img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"> Durabilidad</h3>
            </li>
            <li>
                <h3><img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"> Eficiencia</h3>
            </li>
            <li>
                <h3><img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"> Calidad</h3>
            </li>
            <li>
                <h3><img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"> Resistencia</h3>
            </li>
        </ul>

    </div>


    <div class="servicio-container">

        <ul class="servicio-lista">
            <li>
                <h3>Servicio <img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"></h3>
            </li>
            <li>
                <h3>Atención personalizada <img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"></h3>
            </li>
            <li>
                <h3>Compromiso <img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"></h3>
            </li>
            <li>
                <h3>Asesoramiento <img src="{{ url_for('static', filename='imagenes/tick.png')}}" alt="" height="20px"></h3>
            </li>
        </ul>

        <img src="{{ url_for('static', filename='imagenes/servicio.png')}}" alt="" height="195px">

    </div>

    <footer>
        Copyright 2023
    </footer>
</body>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>


</html>
